	   body{
               background-color: white;
	       transition: all 5s ease;
           }   
		
	   #upgrades:hover{
 	   	transform: scale(1.3);
               
           }

	   #display-label{
	   	position:absolute;
 		left: 50%;
		top:5%;
		opacity: 0;
		transition: all 5s ease;
		font-weight:bold;
		font-family:arial;	
		font-size:30px;
           }
	

	


	   #health-container{
                position: relative;
    		background-color: grey;
    		width: 400px;
    		height: 20px;
		margin-top: 1px;
                margin-bottom: 1px;
		border: 2px solid black;
		border-radius: 10px;
            }

            #health-bar{
    		position: relative;
		background: linear-gradient(to left, red, red, red, black);
	        background-size: 400px 100%;
   		width: 100%;
    		height: 100%;
		transition: all 0.5s ease;
		border-radius: 10px;



	    }

	   #hp{
                position: absolute;
                top: 0;
		left: 0;
		color: white;
                width: 100%;

                
           }

	   #enemy-health-container{
                position: relative;
    		background-color: grey;
    		width: 400px;
    		height: 20px;
		margin-top: 1px;
                margin-bottom: 1px;
		border: 2px solid black;
		border-radius: 10px;


           }

           #enemy-health-bar{
    		position: relative;
		background: linear-gradient(to left, green, black);
	        background-size: 400px 100%;
   		width: 100%;
    		height: 100%;
		transition: all 0.5s ease;
		border-radius: 10px;

           }

           #enemy-hp{
                position: absolute;
                top: 0;
		left: 0;
		color: white;
                width: 100%;
           }











        
           #attack img{
           	display: inline-block;
                vertical-align: middle;
           }
       
           #heal img{
           	display: inline-block;
                vertical-align: middle;
                
           }

           #xp-container{
                position: relative;
           	width: 300px;
                height: 20px;
		background-color: grey;
		margin-top: 1px;
                margin-bottom: 1px;
		border: 2px solid black;
		transition: all 0.5s ease;
		border-radius: 10px;

               
           }

           #xp-points{
           	width: 100%;
                height: 100%;
		background: linear-gradient(to bottom, yellow, orange);
		background-size: 300px, 100%;
		transition: all 0.5s ease;
		border-radius: 10px;
		

           }

	   #XP{
               position: absolute;
	       color:black;
               left: 0;
               top: 0;
	   }
           
           #upgrades-gui{
 	   	display: none;
           }

           #voltage-container{
                position: relative;
           	width: 200px;
                height: 20px;
                background-color: grey;
		margin-top: 1px;
		border: 2px solid black;
		transition: all 0.5s ease;
		border-radius: 10px;

           }

           #voltage-bar{
           	width: 100%;
                height: 100%;
                background: linear-gradient(to top, blue, cyan);
  		background-size: 200px, 100%;
		transition: all 1s ease;
		border-radius: 10px;

           }
 
	   #voltage-text{
           	color: white;
                position: absolute;
                left: 0;
                top: 0;
           }

	   #box{
		position: absolute;
		background-color: white;
		width: 5px;
		height: 5px;
		top: 500px;
		left: 500px;
		transition: all 0.5 ease;
	
	  }

	  #dev-console{
		position:absolute;
	  	width:200px;
		height:20px;
		right:0px;
		bottom:10px;
		
          }
